@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome!</h1>
    <p>Meu primeiro site em MVC</p>
    <span>Seu email é: @Model.Email</span>
</div>
