@model UsuarioModel

@{
    ViewData["Title"] = "Confirmação para apagar";
}

<div class="text-center">
    <h3>Realmente deseja apagar @Model.Nome?</h3>
    <br/>
    <a class="btn btn-primary btn-block" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
    <a class="btn btn-danger btn-block" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
</div>